.formWrap {
    margin: 3rem auto 0;
}

.errors {
    display: block;
    width: 100%;
    margin: 1rem auto;
    ul {
        margin: 0;
        padding: 0;
    }

    li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    }
}